* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 920px;
    margin: 0 auto;
}

.whether {
    margin-top: 3rem;
    color: gray;
    font-size: 1rem;
    text-align: center;

    &__arrowLeft {
        padding: 30px 10px 14px 5px;
        max-width: 30px;
        transform: translateY(-5px);
    }

    &__arrowRight {
        padding: 30px 5px 14px 10px;
        max-width: 30px;
        transform: translateY(-5px);
    }

    &__dataHour {
        display: flex;
        color: black;
        font-size: 1.4rem;
    }

    &__box {
        &-right {
            display: flex;
        }
        &-left {
            display: flex;
            flex-direction: column;
            position: relative;
            box-shadow: 10px 0px 11px -9px rgba(0,0,0,0.25);
            border-right: 1px solid #eeeeee;
            z-index: 10;
        }
    }

    &__descLeftSide {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 1.1rem;
        &:not(:last-child) {
            border-bottom: 1px solid #eeeeee;
        }
    }

    &__desc {
        border-right: 1px solid #eeeeee;
        display: flex;
        justify-content: center;
        &--day {
            height: 2.1rem;
        }

        &--hour {
            height: 2rem;
            font-weight: 500;
        }

        &--hours {
            height: 2rem;
        }

        &--ico {
            height: 4.5rem;
            align-items: center;
        }

        &--temperature {
            font-weight: 500;
            font-size: 1.7rem;
            align-items: center;
            height: 10rem;
            &::after {
                content: "\00b0"
            }
        }

        &--temp {
            height: 10rem;
        }

        &--rain {
            font-size: 1.1rem;
            flex-direction: column;
            height: 7rem;
            justify-content: flex-end;
        }

        &--rains {
            height: 7rem;
        }

        &--windDegree
        {
            height: 6rem;
            background-color: #f0f0f0;
            border-right:1px solid white;
            font-size: 1rem;
            flex-direction: column-reverse;
            align-items: center;
        }

        &--windDegrees {
            height: 6rem;        
        }

        &--windSpeed {
            height: 6rem;
            font-size: 1rem;
            background-color: #f0f0f0;
            border-right:1px solid white;
            display: flex;
            flex-direction: column;
        }

        &--windSpeeds { 
            height: 6rem;
        }

        &--windSpeedkmh {
            margin-top: 0.5rem;
        }

        &--hpa {
            height: 8.6rem;
            font-size: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    }

    &__cloudsPhoto {
        width: 60% !important;
        height: 77%;
    }

    &__windImg {
        margin-bottom: 1rem;
        margin-top: 1rem;
        width: 30% !important;
    }

    &__background {
        background: #65cafa;
    }
}

.owl-nav {
    position: absolute;
    top: 37%;
    width: 100%;
}

.owl-dots {
    display: none;
}

button.owl-prev {
    position: absolute;
    left: 0;
    outline: none;
    background: #e5e5e5 !important;
    border-top-right-radius: 40px !important;
    border-bottom-right-radius: 40px !important;
}

button.owl-next {
    position: absolute;
    right: 0;
    outline: none;
    background: #e5e5e5 !important;
    border-top-left-radius: 40px !important;
    border-bottom-left-radius: 40px !important;

}











