* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.whether {
  margin-top: 4rem;
  color: gray;
  font-size: 1rem;
  text-align: center;
}

.whether__img {
  width: 100%;
  height: 100%;
}

.whether__text {
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.whether__boxData2 {
  display: flex;
  flex-direction: column;
}

.whether__data {
  display: flex;
}

.whether__dataHour {
  display: flex;
  color: black;
  font-size: 1.4rem;
}

.whether__box-right {
  display: flex;
}

.whether__descLeft {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #eeeeee;
  padding: 0 1rem;
}

.whether__desc {
  border-right: 1px solid #eeeeee;
  display: flex;
  justify-content: center;
}

.whether__desc--day {
  height: 2.1rem;
}

.whether__desc--hour {
  height: 2rem;
  font-weight: 500;
}

.whether__desc--hours {
  height: 2rem;
}

.whether__desc--ico {
  height: 4.5rem;
}

.whether__desc--temperature {
  font-weight: 500;
  font-size: 1.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10rem;
}

.whether__desc--temperature::after {
  content: "\00b0";
}

.whether__desc--temp {
  height: 10rem;
}

.whether__desc--rain {
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  height: 7rem;
  justify-content: flex-end;
}

.whether__desc--rains {
  height: 7rem;
}

.whether__desc--windDegree {
  height: 5rem;
  background-color: #f0f0f0;
  border-right: 1px solid white;
  font-size: 1rem;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.whether__desc--windDegrees {
  height: 5rem;
}

.whether__desc--windSpeed {
  height: 6rem;
  font-size: 1rem;
  background-color: #f0f0f0;
  border-right: 1px solid white;
  display: flex;
  flex-direction: column;
}

.whether__desc--windSpeeds {
  height: 6rem;
}

.whether__desc--hpa {
  height: 8.6rem;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.whether__img {
  width: 75% !important;
  height: 90%;
}

.whether__windImg {
  margin-bottom: 2rem;
  width: 35% !important;
}

.whether__background {
  background: #65cafa;
}

.whether__leftSide {
  display: flex;
  flex-direction: column;
  position: relative;
  border-right: 1px solid #eeeeee;
}

.owl-nav {
  position: absolute;
  top: 45%;
  width: 100%;
}

.owl-dots {
  display: none;
}

button.owl-prev {
  position: absolute;
  left: 0;
  outline: none;
}

button.owl-next {
  position: absolute;
  right: 0;
  outline: none;
}
